
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@import './reset.scss';
@import './mixins.scss';

* {
  font-family: 'Roboto', sans-serif;
}

$theme: #5499C7;
$text: #154360;
$text-inverse:#EAF2F8;
$accent: #F4D03F;
$accent2: #48C9B0;