@import './reset.scss';
@import './mixins.scss';

* {
  font-family: 'Roboto', sans-serif;
}

$theme: #5499C7;
$text: #154360;
$text-inverse:#EAF2F8;
$accent: #F4D03F;
$accent2: #48C9B0;
$gray: #ababab;
$confirm: #4ecdc4;
$alert: #f62459;

.fluid-container {
  margin: 0 auto;
  width: calc(100% - 20px);
  text-align: left;

  @include mqMin(460px) {
    width: calc(100% - 40px);
  }

  @include mqMin(768px) {
    width: 600px;
  }

  @include mqMin(1024px) {
    width: 720px;
  }

  @include mqMin(1280px) {
    width: 860px;
  }
}

.global-title {
  font-weight: 400;
  font-size: 3em;
  color: $theme;
  margin: 50px 0 30px 0;
}

.global-par {
  color: $text;
  font-size: 1.1em;
}

